
.contenedor{
  display: flex;
  justify-content: center;

  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  padding: 15px;


}
body {
  margin:20px;
	padding: 10px;
	width: 100%

}

@media (max-width: 300px) {
  .contenedor iframe{
    margin: 15px;
    width: auto;
    height: auto;
  }
  .nosFooter{
    display: block;
    width: 80%;
    max-width: 1200px;

    padding: 20px;
    margin-left: 50px;
    margin-right: -50px;

  }
  img {
    width: auto;
    height: auto;
  }

    .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
}

.columnita{
  display: flex;
  flex-direction: column;
  width: 90%;

}
.box>*:first-child {
    align-self: stretch;
}
nav{
  justify-content: center;
}
nav ul {
      flex-direction: column;
      justify-content:center;
      align-content: center;
      padding: 0px;
      border: groove red;
      border-width: 6px;
      background-color: orange;}

  }


nav ul {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  margin-right: -50px;
}

nav li {

float: left;
padding: 2px 5px;
border: 1px solid black;
background-color: #FF4600;
margin: 20px;

border-radius: 5px;
list-style: none;
}
nav li a{

text-decoration: none;
font-size: 25px;
color: #000;
}
h1{

  display: block;
  justify-content: center;
  background-color: rgb(134, 250, 151);
  font-family:"Mystery Quest", cursive;
}
ul {
  list-style-type: none;
}
h3{
  padding: 30px;
  font-family:"Goudy Bookletter 1911", sans-serif;
  margin-left: 20px;
}
.textoCero{
  padding top: 25px;
  color: black;


}
.canastas{
  margin-left: 10px;
  display: flex;

}

.textoCanasta{
  font-family:"Goudy Bookletter 1911", sans-serif;
  border: 8px solid #FF00BA;
  padding: 10px;
}
.canastas img {
  float: right;
  width: 350px;
  margin-left: 20px;
  height: auto;
  border: 8px solid #FF00BA;
}
.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  padding: 50px;
}
#galeria .col-lg-4{
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 8px solid #FF00BA;

}
.videoTuto{
  margin: 25px
}
.cuerpo{
  box-sizing: border-box;
  margin: 0;

}
.formulario{
  width: 300px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0,3);
  position: relative;

}

.formulario--input, .formulario--label,
.formulario--submit{
  display: block;
  width: 100%;
  font-size: 1.3em;

}
.formulario--input{
  padding: 20px;
  background: rgba(147,74,85,0.4);
  border: 1px solid rgba(0,0,0,0,3);
  margin-bottom: 40px;
}
.formulario--input:focus {
  outline: 1px solid rgba(0,0,0,0,0.8);

}
.formulario--input:focus +
.formulario--label{
  margin-top: -130px;

}
.formulario--label{
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: blue;
}
.formulario--submit{

  background: rgba(147,74,85,0.8);
  color: white;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  border: none;
}
.fijar{
  margin-top: -130px;
}


footer {
  background: rgb(134, 250, 151);
  width: 100%;

}
.container-footer{
  background-color: rgba(134, 250, 151,0.8)
  display: flex;
  width: 80%;
  max-width: 1200px;

  padding: 20px;
  margin-left: 50px;
  margin-right: -50px;

}
.column1{
  max-width: 400px;
}
.column2{
  padding: 15px;
  width: 300px;

}

.row img{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 30px;
}
.tuto img{
  width: 50px;
  height: 30px;
}

.row a{
  margin-top: 10px;
margin-left: 10px;
}
.column3{
  width: 300px;
}
.column3 img{
  width: 35px;
  height: 35px;
}
