
/*.contenedor{
  background-color: rgb(239, 202, 253);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

}
.contenedor img {
  width: 80%;
  height: auto;
}*/
nav ul {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-left: 50px;
  margin-right: -50px;
}

nav li {

float: left;
padding: 2px 5px;
border: 1px solid black;
background-color: #FF4600;
margin: 20px;

border-radius: 5px;
list-style: none;
}
nav li a{

text-decoration: none;
font-size: 25px;
color: #000;
}
h1{

  background-color: rgb(204, 81, 250);
  font-family:"Mystery Quest", cursive;
}
ul {
  list-style-type: none;
}
h3{
  padding: 30px;
  font-family:"Goudy Bookletter 1911", sans-serif;
  margin-left: 20px;
}
.textoCero{
  padding top: 25px;
  color: black;
  

}
.canastas{
  margin-left: 10px;
  display: flex;

}

.textoCanasta{
  font-family:"Goudy Bookletter 1911", sans-serif;
  border: 8px solid #FF00BA;
  padding: 10px;
}
.canastas img {
  float: right;
  width: 350px;
  margin-left: 20px;
  height: auto;
  border: 8px solid #FF00BA;
}
.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  padding: 50px;
}
#galeria .col-lg-4{
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 8px solid #FF00BA;

}
.videoTuto{
  margin: 25px
}
footer {
  width: 100%;
  background: #FFFF
  box-sizing: border-box;
}
.container-footer{
  display: flex;
  width: 100%;
  max-width: 1200px;

  padding: 20px;
  margin-left: 50px;
  margin-right: -50px;

}
.column1{
  max-width: 400px;
}
.column2{
  padding-left: 80px;
  padding-right: 80px;
  width: 500px;

}

.row img{
  width: 50px;
  height: 30px;
}
.tuto img{
  width: 50px;
  height: 30px;
}

.row a{
  margin-top: 10px;
margin-left: 10px;
}
.column3{
  width: 300px;
}
.column3 img{
  width: 35px;
  height: 35px;
}
