body {
  margin:20px;
	padding: 10px;

}

.contenedor{
  display: flex;
  justify-content: center;

  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  padding: 15px;


}

nav ul {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  padding: 20px;


}

nav li {

float: left;
padding: 2px 5px;
border: 1px solid black;
background-color: rgb(95, 254, 76);
margin: 20px;

border-radius: 5px;
list-style: none;
}
nav li a{

text-decoration: none;
font-size: 25px;
color: #000;
}
h1{

  display: block;
  justify-content: center;
  background-color: rgb(134, 250, 151);
  font-family:"Mystery Quest", cursive;
}
ul {
  list-style-type: none;
}
h3{
  padding: 30px;
  font-family:"Goudy Bookletter 1911", sans-serif;
  margin-left: 20px;
}
.textoCero{
  padding top: 25px;
  color: black;


}
.canastas{
  margin: 10px;
  display: flex;

}

.textoCanasta{

  font-family:"Goudy Bookletter 1911", sans-serif;
  border: 8px solid #17C203;
  padding: 10px;
}

.canastas img {

  float: right;
  width: 350px;
  margin-left: 20px;
  height: auto;
  border: 8px solid #17C203;
}
.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  padding: 50px;
}
#galeria .col-lg-4{
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 8px solid #FF00BA;

}
.videoTuto{
  margin: 25px
}
.cuerpo{
  box-sizing: border-box;
  margin: 0;

}
.formulario{
  width: 300px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0,3);
  position: relative;

}

.formulario--input, .formulario--label,
.formulario--submit{
  display: block;
  width: 100%;
  font-size: 1.3em;

}
.formulario--input{
  padding: 20px;
  background: rgba(147,74,85,0.4);
  border: 1px solid rgba(0,0,0,0,3);
  margin-bottom: 40px;
}
.formulario--input:focus {
  outline: 1px solid rgba(0,0,0,0,0.8);

}
.formulario--input:focus +
.formulario--label{
  margin-top: -130px;

}
.formulario--label{
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: blue;
}
.formulario--submit{

  background: rgba(147,74,85,0.8);
  color: white;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  border: none;
}
.fijar{
  margin-top: -130px;
}
/*NOSOTROS*/
.home{
  font-family:"Mystery Quest", cursive;
  font-size: 25px;
}
.container-footer{
  background-color: rgb(134, 250, 151);
  display:inline-flex;
  justify-content: center;


  margin: 50px;


}
.column1{
  max-width: 30%;
}
.column2{
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 30%;

}
.row {
  display: flex;
  justify-content: center;
}
.row img{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 30px;
}
.tuto img{
  width: 50px;
  height: 30px;
}

.row a{
  margin: 10px;

}
.column3{

  width: 30%;
}
.column3 img{

  width: 58px;
  height: 35px;
}
